body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-base-7: 16.7px;
  --font-size-xs: 12px;
  --font-size-sm-6: 13.6px;
  --font-size-base-1: 15.1px;
  --font-size-3xs: 10px;
  --font-size-xs-1: 11.1px;
  --font-size-base-5: 16.5px;

  /* Colors */
  --color-white: #fff;
  --color-gold: #ffc107;
  --color-blueviolet-100: rgba(175, 61, 241, 0.7);
  --color-gray-100: rgba(0, 0, 0, 0.3);
  --color-darkgoldenrod-100: #cc8f00;
  --color-darkgoldenrod-200: rgba(204, 143, 0, 0.09);
  --color-black: #000;

  /* Gaps */
  --gap-2xs: 11px;
  --gap-xl: 20px;
  --gap-lg-9: 18.9px;
  --gap-5xs-4: 7.4px;
  --gap-mid: 17px;
  --gap-4xs: 9px;
  --gap-3xs: 10px;
  --gap-15xl: 34px;
  --gap-5xs: 8px;
  --gap-127xl: 146px;
  --gap-54xl: 73px;
  --gap-xs-6: 11.6px;
  --gap-4xs-4: 8.4px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-xl: 20px;
  --padding-9xs-5: 3.5px;
  --padding-34xl: 53px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-12xs: 1px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-xs: 12px;
  --padding-7xs-9: 5.9px;
  --padding-9xs-2: 3.2px;
  --padding-7xs: 6px;
  --padding-9xs-7: 3.7px;
  --padding-2xs-3: 10.3px;
  --padding-10xs-3: 2.3px;
  --padding-9xs-4: 3.4px;
  --padding-9xs-6: 3.6px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-10xs: 3px;
  --br-11xl: 30px;
  --br-351xl-9: 370.9px;
  --br-27xl-2: 46.2px;
}

.frame-child16 {
  align-self: stretch;
  height: 542px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gold);
  box-sizing: border-box;
  display: none;
}
.wallet-amount {
  margin: 0;
}
.inclusive-bonus {
  margin: 0;
  font-size: 12.4px;
}
.wallet-amount-inclusive-container {
  position: relative;
  font-weight: 600;
}
.wrapper75 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  text-align: center;
}
.wallet-amount-inclusive-bonus-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-9xs-7) var(--padding-9xs) var(--padding-11xs)
    var(--padding-8xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-9xs-5) var(--padding-sm);
}
.net-exposure,
.separator {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 108px;
}
.separator {
  text-decoration: none;
  font-weight: 800;
  color: inherit;
  min-width: 40px;
}
.frame-wrapper19,
.net-exposure-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.net-exposure-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-9xs-6) var(--padding-8xs) var(--padding-11xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper19 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-9xs-4) var(--padding-sm);
  text-align: center;
}
.bonus {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.bonus-parent,
.frame-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bonus-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-9xs-6) var(--padding-9xs) var(--padding-11xs)
    var(--padding-8xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper20 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-9xs-4) var(--padding-mini);
  text-align: center;
}
.div11 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 40px;
}
.wrapper76 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  text-align: center;
}
.available-withdrawal-parent,
.frame-wrapper21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.available-withdrawal-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: 2.5px var(--padding-9xs) var(--padding-12xs) var(--padding-8xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper21 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 8.3px;
}
.line-div {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gold);
  box-sizing: border-box;
  z-index: 1;
}
.refer-and-earn {
  position: relative;
  font-size: var(--font-size-xs-1);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.refer-await-items {
  cursor: pointer;
  border: 0;
  padding: 6.9px 62px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 46.15px;
  background: linear-gradient(90.17deg, #af3df1, #65238b);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.awaiting-bonus-0 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 94px;
}
.refer-await-items1 {
  align-self: stretch;
  border-radius: 46.15px;
  border: 0.9px solid var(--color-gold);
  flex-direction: row;
  padding: var(--padding-8xs) 54px var(--padding-7xs);
  flex-shrink: 0;
  z-index: 1;
}
.refer-await-items1,
.refer-await-values,
.refer-await-values-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refer-await-values {
  flex: 1;
  flex-direction: column;
  gap: 3.7px;
}
.refer-await-values-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-sm);
}
.account-statement {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.account-icons,
.account-statement-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-statement-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-3) 0 0;
}
.account-icons {
  flex-direction: row;
  gap: var(--gap-4xs-4);
}
.material-symbols-lightsetting-icon {
  height: 16.7px;
  width: 16.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 17px;
  z-index: 1;
}
.settings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-3);
}
.account-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-4xs-4);
}
.account-items {
  flex-direction: column;
  gap: 11.5px;
}
.account-items,
.account-items-wrapper,
.frame-parent46,
.line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-items-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-base);
  font-size: var(--font-size-3xs);
}
.frame-parent46,
.line-parent {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent46 {
  gap: 11.7px;
}
.line-parent {
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs-1);
}
.riquestion-line-icon {
  width: 16.7px;
  height: 16.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.navigation-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-6);
}
.betting-profit,
.open-bets,
.unsettled-bets {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.open-bets,
.unsettled-bets {
  min-width: 50px;
}
.unsettled-bets {
  min-width: 72px;
}
.change-password {
  font-weight: 500;
  min-width: 87px;
}
.bonus-rules,
.change-password,
.sign-out {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.bonus-rules {
  font-weight: 500;
  min-width: 59px;
}
.sign-out {
  min-width: 43px;
}
.betting-profit-loss-parent,
.frame-wrapper22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.betting-profit-loss-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 16.3px;
}
.frame-wrapper22 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-3);
}
.navigation-icons-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs-4);
}
.footer1 {
  width: 155.5px;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
}
.footer1,
.group-section,
.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-section {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gold);
  flex-direction: column;
  padding: var(--padding-mini) 0 var(--padding-3xs);
  gap: var(--gap-xs-6);
  text-align: left;
  font-size: var(--font-size-base-5);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.root {
  width: 231px;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.lorem-ipsum-dolor {
  margin: 0;
  width: 1098px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lorem-ipsum-dolor-sit-amet-con-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
}
.frame-child {
  height: 94px;
  width: 1440px;
  position: relative;
  border-radius: var(--br-11xl);
  border-bottom: 2px solid var(--color-gold);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.logo-removebg-preview-1-icon {
  height: 70px;
  width: 88px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.mdibank-icon {
  height: 23.6px;
  width: 23.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.deposit {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 78px;
}
.mdibank-parent {
  border-radius: 7.39px;
  background-color: #098224;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.4px var(--padding-6xs);
  gap: var(--gap-5xs-4);
  z-index: 1;
}
.flowbitewallet-outline-icon {
  height: 23.3px;
  width: 23.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.withdraw {
  text-decoration: none;
  position: relative;
  font-size: 20.4px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 96px;
}
.flowbitewallet-outline-parent {
  cursor: pointer;
  border: 0;
  padding: 7.3px var(--padding-6xs) 7.2px;
  background-color: #c40718;
  border-radius: 7.27px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.2px;
  z-index: 1;
}
.flowbitewallet-outline-parent:hover {
  background-color: #eb2e3d;
}
.search-events {
  width: 88.6px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18.1px;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.material-symbolssearch-icon {
  height: 19.4px;
  width: 19.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
}
.frame-item,
.search-events-parent {
  background-color: var(--color-white);
}
.search-events-parent {
  flex: 1;
  border-radius: 21.51px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-2xs-3) var(--padding-4xs) var(--padding-2xs-3)
    var(--padding-smi);
  box-sizing: border-box;
  min-width: 108px;
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-item {
  width: 102px;
  height: 40px;
  position: relative;
  border-radius: 370.91px;
  display: none;
}
.bal-000,
.exp-0 {
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.bal-000 {
  line-height: 12px;
  color: inherit;
  display: inline-block;
  min-width: 63px;
}
.exp-0 {
  align-self: stretch;
  line-height: 18.4px;
  color: #14872e;
}
.rectangle-group {
  width: 102px;
  border-radius: 370.91px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 19px 4.3px var(--padding-xl);
  box-sizing: border-box;
  gap: 4.2px;
  z-index: 1;
  font-size: var(--font-size-base-1);
  color: var(--color-black);
}
.a,
.weuiarrow-filled-icon {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 124px;
}
.weuiarrow-filled-icon {
  width: 32px;
  height: 16px;
  overflow: hidden;
  object-fit: contain;
}
.weuiarrow-filled-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.parent {
  flex-direction: row;
}
.frame-container,
.frame-group,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  font-size: var(--font-size-xl);
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  gap: 30px;
}
.frame-wrapper,
.rectangle-parent {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 873.8px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: var(--br-11xl);
  border-bottom: 2px solid var(--color-gold);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-4xs);
  gap: 278px;
  font-size: 20.7px;
}
.home {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm-6);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 42px;
}
.home-wrapper {
  cursor: pointer;
  border: 2px solid var(--color-gold);
  padding: var(--padding-6xs) var(--padding-5xs);
  background-color: transparent;
  width: 62px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.become-an-agent-wrapper:hover,
.home-wrapper:hover {
  background-color: var(--color-darkgoldenrod-200);
  border: 2px solid var(--color-darkgoldenrod-100);
  box-sizing: border-box;
}
.today {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 54px;
}
.category-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.cricket,
.football {
  color: inherit;
  display: inline-block;
}
.football {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  min-width: 70px;
}
.cricket {
  min-width: 63px;
}
.become-an-agent,
.casino,
.cricket {
  text-decoration: none;
  position: relative;
  font-weight: 600;
}
.casino {
  color: inherit;
  display: inline-block;
  min-width: 61px;
}
.become-an-agent {
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.become-an-agent-wrapper,
.category-items-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.become-an-agent-wrapper {
  cursor: pointer;
  border: 1px solid var(--color-gold);
  padding: var(--padding-10xs) var(--padding-4xs);
  background-color: transparent;
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.become-an-agent-wrapper:hover {
  border: 1px solid var(--color-darkgoldenrod-100);
}
.category-items-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper1 {
  width: 642px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent1 {
  width: 1036px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-div,
.frame-parent,
.frame-parent1 {
  display: flex;
  max-width: 100%;
}
.frame-div {
  width: 1236px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-inner {
  width: 190px;
  height: 476.5px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-gold);
  box-sizing: border-box;
  display: none;
}
.sport-image-icon {
  width: 15.1px;
  height: 15.1px;
  position: relative;
}
.sport-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-7);
}
.football1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.football-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
}
.sport-image {
  align-self: stretch;
  height: 10.6px;
  position: relative;
}
.sport-image-container {
  width: 62.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-9);
  box-sizing: border-box;
}
.weuiarrow-filled-icon1 {
  height: 22.6px;
  width: 11.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent3 {
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gold);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 7.5px 0 var(--padding-7xs);
  gap: 7.5px;
  z-index: 1;
}
.material-symbolsflight-icon {
  width: 18.1px;
  height: 18.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper2,
.material-symbolsflight-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.material-symbolsflight-parent {
  justify-content: flex-start;
  gap: 23.4px;
}
.frame-wrapper2 {
  justify-content: flex-end;
  padding: 0 0 2.2px;
}
.aviator,
.casino1,
.cricket1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.casino1,
.cricket1 {
  min-width: 46px;
}
.cricket1 {
  min-width: 48px;
}
.aviator-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25.5px;
}
.slider-images-child {
  height: 10.6px;
  flex: 1;
  position: relative;
  z-index: 1;
}
.slider-images {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.slider-button {
  align-self: stretch;
  height: 10.6px;
  position: relative;
  z-index: 1;
}
.slider-images1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.image-slider,
.image-slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-slider {
  align-self: stretch;
  justify-content: flex-start;
  gap: 30.9px;
}
.image-slider-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-9);
}
.weuiarrow-filled-icon2,
.weuiarrow-filled-icon3 {
  height: 22.6px;
  width: 11.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.weuiarrow-filled-container,
.weuiarrow-filled-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.weuiarrow-filled-frame {
  width: 14.1px;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.frame-parent6,
.weuiarrow-filled-parent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.weuiarrow-filled-parent {
  flex-direction: column;
  gap: var(--gap-lg-9);
}
.frame-parent6 {
  align-self: stretch;
  flex-direction: row;
  gap: 5.1px;
}
.download-apk {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.download-apk-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.3px 0 0;
}
.download-button,
.weuiarrow-filled-icon5 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 9.8px;
  height: 10.6px;
  z-index: 1;
}
.weuiarrow-filled-icon5 {
  top: 0;
  left: 17.3px;
  width: 11.3px;
  height: 22.6px;
  overflow: hidden;
}
.download-button-parent {
  height: 22.6px;
  width: 28.6px;
  position: relative;
}
.frame-parent5,
.frame-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  flex-direction: row;
  gap: 6.5px;
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg-9);
}
.frame-parent4,
.rectangle-container {
  width: 161.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.6px;
}
.rectangle-container {
  width: 190px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-gold);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-mid) var(--padding-4xs) 258px var(--padding-xs);
  gap: 11.3px;
}
.info-image {
  height: 14px;
  width: 73px;
  position: absolute;
  margin: 0 !important;
  bottom: 65.9px;
  left: 329px;
}
.info-image-icon {
  height: 178.9px;
  flex: 1;
  position: relative;
  border-radius: 7.16px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.info-image-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.mingcutegame-2-line-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.inplay {
  position: relative;
  font-size: var(--font-size-sm-6);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}
.mingcutegame-2-line-parent {
  cursor: pointer;
  border: 2px solid var(--color-gold);
  padding: var(--padding-6xs) var(--padding-5xs);
  background-color: transparent;
  width: 103px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.rectangle-div {
  height: 38px;
  width: 766px;
  position: relative;
  border-radius: var(--br-10xs);
  background: linear-gradient(
    90.08deg,
    #af3df1,
    rgba(255, 193, 7, 0.2) 53.4%,
    #65238b
  );
  display: none;
  max-width: 100%;
}
.group-icon {
  width: 13.6px;
  height: 13.6px;
  position: relative;
  z-index: 1;
}
.cricket-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.2px;
}
.cricket-3 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 71px;
  z-index: 1;
}
.cricket-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.cricket-close,
.cricket-close1,
.x {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 7px;
  z-index: 1;
}
.cricket-close1,
.x {
  min-width: 10px;
}
.cricket-close1 {
  min-width: 9px;
}
.cricket-close-button {
  width: 292px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child1,
.group-div {
  box-sizing: border-box;
  max-width: 100%;
}
.group-div {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background: linear-gradient(
    90.08deg,
    #af3df1,
    rgba(255, 193, 7, 0.2) 53.4%,
    #65238b
  );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-5xs);
  gap: 291.2px;
  font-size: var(--font-size-sm-6);
}
.frame-child1 {
  height: 43px;
  width: 735px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-gold);
  display: none;
}
.p {
  margin: 0;
}
.match-data {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.match-items,
.match-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.match-name {
  flex: 1;
  padding: 0 var(--padding-xl) var(--padding-12xs) 0;
  box-sizing: border-box;
  min-width: 114px;
}
.odd-data {
  position: relative;
  display: inline-block;
  min-width: 22px;
}
.odd-values,
.odd-values-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.odd-values {
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-100);
  padding: var(--padding-5xs) var(--padding-smi);
  z-index: 1;
}
.odd-values-parent {
  gap: var(--gap-5xs);
}
.match-details,
.odd-values-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) var(--padding-12xs) 0;
}
.odd-values-group {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  gap: var(--gap-5xs);
}
.frame-parent10,
.rectangle-parent1 {
  border-radius: var(--br-8xs);
  box-sizing: border-box;
}
.rectangle-parent1 {
  flex: 1;
  border: 0.5px solid var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-8xs);
  gap: var(--gap-15xl);
  max-width: 100%;
}
.frame-parent10 {
  border: 2px solid var(--color-gold);
  padding: 0 0 var(--padding-3xs);
}
.frame-parent10,
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.football-icon {
  height: 15.1px;
  width: 15.1px;
  position: relative;
  z-index: 1;
}
.football-4 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.football-label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.9px;
}
.football-teams,
.frame-parent17,
.rectangle-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent4 {
  border-radius: var(--br-10xs);
  background: linear-gradient(
    90.08deg,
    #af3df1,
    rgba(255, 193, 7, 0.2) 53.4%,
    #65238b
  );
  padding: var(--padding-2xs) var(--padding-5xs);
  gap: 285px;
  font-size: var(--font-size-sm-6);
}
.football-teams,
.frame-parent17 {
  padding: 0 var(--padding-mini);
}
.frame-parent17 {
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gold);
  flex-direction: column;
  padding: 0 0 var(--padding-sm);
  gap: 10.8px;
}
.mditennis-icon,
.tennis-5 {
  position: relative;
  z-index: 1;
}
.mditennis-icon {
  height: 18px;
  width: 18px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 18px;
}
.tennis-5 {
  font-weight: 600;
  display: inline-block;
  min-width: 67px;
}
.tennis-5-wrapper,
.tennis-close,
.tennis-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tennis-5-wrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.tennis-close,
.tennis-label {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.tennis-close {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.tennis-close-button {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.rectangle-parent9,
.tennis-teams3 {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
}
.rectangle-parent9 {
  border-radius: var(--br-10xs);
  background: linear-gradient(
    90.08deg,
    #af3df1,
    rgba(255, 193, 7, 0.2) 53.4%,
    #65238b
  );
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-6xs);
  gap: 292px;
  max-width: 100%;
  font-size: var(--font-size-sm-6);
}
.tennis-teams3 {
  padding: 0 var(--padding-mini) 0 var(--padding-base);
}
.frame-parent30,
.frame-parent8,
.tennis-teams3,
.tennis-teams4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tennis-teams4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-mini);
  box-sizing: border-box;
}
.frame-parent30,
.frame-parent8 {
  flex-direction: column;
}
.frame-parent30 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gold);
  box-sizing: border-box;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-2xs);
}
.frame-parent8 {
  flex: 1;
  gap: var(--gap-xl);
  min-width: 500px;
  font-size: var(--font-size-xs);
}
.frame-child15 {
  align-self: stretch;
  height: 418px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-gold);
  box-sizing: border-box;
  display: none;
}
.best-slip {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.material-symbolsexposure-zero-icon {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 66.67px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.betslip-header,
.betslip-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.betslip-title {
  flex: 1;
  border-bottom: 1px solid var(--color-gold);
  justify-content: center;
  padding: 11.5px var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 1;
}
.betslip-header {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 7.6px;
}
.your-bet-slip-container {
  width: 201px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.your-bet-slip-is-empty-please-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-mid);
}
.booking-code {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.booking-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.booking,
.load-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.load-button {
  width: 49px;
  border: 0;
  outline: 0;
  background-color: #af3df1;
  height: 33px;
  border-radius: var(--br-8xs) var(--br-9xs) var(--br-9xs) var(--br-8xs);
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-3xs);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: var(--font-size-xs);
  color: rgba(255, 255, 255, 0.9);
}
.booking {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: #d9d9d9;
  border: 1px solid var(--color-gold);
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}
.empty-betslip-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.empty-betslip {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 var(--padding-3xs);
}
.betslip-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gold);
  box-sizing: border-box;
  z-index: 1;
}
.stake-icon {
  height: 109.4px;
  flex: 1;
  position: relative;
  border-radius: 4.21px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.betslip-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 19.5px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.add-button-icon {
  height: 111.5px;
  flex: 1;
  position: relative;
  border-radius: 4.19px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.add-selection,
.rectangle-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-selection {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-3xs);
}
.rectangle-parent15 {
  width: 254px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-gold);
  box-sizing: border-box;
  flex-direction: column;
  padding: 0 0 var(--padding-mini);
  gap: 9.4px;
}
.frame-parent2,
.login-page-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  width: 1240px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 13px;
}
.login-page-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-34xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm-6);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.footer-content-child {
  height: 300px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  border-top: 1px solid var(--color-gold);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.logo-removebg-preview-2-icon {
  width: 128px;
  height: 102px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.bigdaddy-is-operated-container {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.company-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
}
.follow-us {
  position: relative;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.info,
.logo-removebg-preview-2-parent,
.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  font-size: 18.3px;
  color: var(--color-gold);
}
.info,
.logo-removebg-preview-2-parent {
  flex-direction: column;
  max-width: 100%;
}
.logo-removebg-preview-2-parent {
  gap: var(--gap-mid);
}
.info {
  width: 535.9px;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.general-info {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.privacy-policy {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.contact-us {
  display: inline-block;
  min-width: 89px;
}
.contact-us,
.faqs,
.terms-conditions {
  position: relative;
  z-index: 1;
}
.terms-conditions {
  text-decoration: none;
  color: inherit;
}
.faqs {
  font-size: 19.9px;
  display: inline-block;
  min-width: 53px;
}
.betting-rules {
  display: inline-block;
  min-width: 105px;
}
.betting-rules,
.responsible-gaming {
  position: relative;
  z-index: 1;
}
.general-list,
.general-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.general-list {
  gap: var(--gap-5xs-4);
  font-size: var(--font-size-base-7);
  color: var(--color-white);
}
.general-title {
  gap: var(--gap-lg-9);
  min-width: 162px;
}
.payment-methods {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.09px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.fottor1-removebg-preview-icon {
  width: 223.7px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.fottor2-removebg-preview-icon {
  align-self: stretch;
  height: 49.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.fottor3-removebg-preview-icon {
  width: 103.1px;
  height: 54.8px;
  position: relative;
  object-fit: cover;
}
.payment-logos {
  align-self: stretch;
  height: 164.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.payments {
  flex: 1;
  flex-direction: column;
  gap: 19px;
  min-width: 150px;
}
.general,
.general-links,
.payments {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.general-links {
  align-self: stretch;
  flex-direction: row;
  gap: 48px;
}
.general {
  width: 440.9px;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-gold);
}
.fottor4-removebg-preview-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fottor5-removebg-preview-icon,
.fottor6-removebg-preview-icon {
  align-self: stretch;
  height: 74.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.fottor6-removebg-preview-icon {
  height: 63.2px;
}
.footer-content,
.social-logos {
  display: flex;
  align-items: flex-start;
}
.social-logos {
  height: 241.2px;
  width: 68.9px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  z-index: 1;
}
.footer-content {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border-top: 1px solid var(--color-gold);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 106px 29.8px 100px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.copyright-icon {
  width: 15px;
  height: 15px;
  position: relative;
  object-fit: cover;
}
.copyright-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.big-daddy-all {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.copyright-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.copyright-info-wrapper,
.footer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.copyright-info-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-lg);
}
.footer {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base-7);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.mingcutegame-2-line-icon1 {
  width: 783.9px;
  height: 783.9px;
  position: absolute;
  margin: 0 !important;
  right: -268.9px;
  bottom: 156.1px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.login-page {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #65238b 46.5%, #1b0925);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-2xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .rectangle-parent {
    flex-wrap: wrap;
    gap: 139px;
    justify-content: center;
  }
  .login-page-inner {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .frame-group {
    flex-wrap: wrap;
  }
  .rectangle-parent {
    gap: 69px;
  }
  .category-items-parent {
    flex-wrap: wrap;
  }
  .frame-parent1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rectangle-container {
    padding-top: var(--padding-xl);
    padding-bottom: 168px;
    box-sizing: border-box;
  }
  .group-div {
    flex-wrap: wrap;
    gap: var(--gap-127xl);
  }
  .rectangle-parent1 {
    flex-wrap: wrap;
    gap: var(--gap-mid);
  }
  .rectangle-parent4 {
    flex-wrap: wrap;
    gap: 142px;
  }
  .rectangle-parent9 {
    flex-wrap: wrap;
    gap: var(--gap-127xl);
  }
  .frame-parent8 {
    min-width: 100%;
  }
  .login-page-inner {
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .footer-content {
    padding-left: 50px;
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .deposit {
    font-size: 17px;
  }
  .a,
  .withdraw {
    font-size: var(--font-size-base);
  }
  .rectangle-parent {
    gap: 35px;
  }
  .group-div {
    gap: var(--gap-54xl);
  }
  .rectangle-parent4 {
    gap: 71px;
  }
  .rectangle-parent9 {
    gap: var(--gap-54xl);
  }
  .general-info {
    font-size: var(--font-size-base);
  }
  .general-title {
    flex: 1;
  }
  .payment-methods {
    font-size: var(--font-size-base);
  }
  .general-links {
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer-content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.frame-child16 {
  align-self: stretch;
  height: 542px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gold);
  box-sizing: border-box;
  display: none;
}
.wallet-amount {
  margin: 0;
}
.inclusive-bonus {
  margin: 0;
  font-size: 12.4px;
}
.wallet-amount-inclusive-container {
  position: relative;
  font-weight: 600;
}
.wrapper75 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  text-align: center;
}
.wallet-amount-inclusive-bonus-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-9xs-7) var(--padding-9xs) var(--padding-11xs)
    var(--padding-8xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-9xs-5) var(--padding-sm);
}
.net-exposure,
.separator {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 108px;
}
.separator {
  text-decoration: none;
  font-weight: 800;
  color: inherit;
  min-width: 40px;
}
.frame-wrapper19,
.net-exposure-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.net-exposure-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-9xs-6) var(--padding-8xs) var(--padding-11xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper19 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-9xs-4) var(--padding-sm);
  text-align: center;
}
.bonus {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.bonus-parent,
.frame-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bonus-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-9xs-6) var(--padding-9xs) var(--padding-11xs)
    var(--padding-8xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper20 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) var(--padding-9xs-4) var(--padding-mini);
  text-align: center;
}
.div11 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 40px;
}
.wrapper76 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  text-align: center;
}
.available-withdrawal-parent,
.frame-wrapper21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.available-withdrawal-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  justify-content: space-between;
  padding: 2.5px var(--padding-9xs) var(--padding-12xs) var(--padding-8xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper21 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 8.3px;
}
.line-div {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gold);
  box-sizing: border-box;
  z-index: 1;
}
.refer-and-earn {
  position: relative;
  font-size: var(--font-size-xs-1);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.refer-await-items {
  cursor: pointer;
  border: 0;
  padding: 6.9px 62px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 46.15px;
  background: linear-gradient(90.17deg, #af3df1, #65238b);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.awaiting-bonus-0 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 94px;
}
.refer-await-items1 {
  align-self: stretch;
  border-radius: 46.15px;
  border: 0.9px solid var(--color-gold);
  flex-direction: row;
  padding: var(--padding-8xs) 54px var(--padding-7xs);
  flex-shrink: 0;
  z-index: 1;
}
.refer-await-items1,
.refer-await-values,
.refer-await-values-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refer-await-values {
  flex: 1;
  flex-direction: column;
  gap: 3.7px;
}
.refer-await-values-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-sm);
}
.account-statement {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.account-icons,
.account-statement-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-statement-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-3) 0 0;
}
.account-icons {
  flex-direction: row;
  gap: var(--gap-4xs-4);
}
.material-symbols-lightsetting-icon {
  height: 16.7px;
  width: 16.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 17px;
  z-index: 1;
}
.settings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-3);
}
.account-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-4xs-4);
}
.account-items {
  flex-direction: column;
  gap: 11.5px;
}
.account-items,
.account-items-wrapper,
.frame-parent46,
.line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-items-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-base);
  font-size: var(--font-size-3xs);
}
.frame-parent46,
.line-parent {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent46 {
  gap: 11.7px;
}
.line-parent {
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs-1);
}
.riquestion-line-icon {
  width: 16.7px;
  height: 16.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.navigation-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-6);
}
.betting-profit,
.open-bets,
.unsettled-bets {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.open-bets,
.unsettled-bets {
  min-width: 50px;
}
.unsettled-bets {
  min-width: 72px;
}
.change-password {
  font-weight: 500;
  min-width: 87px;
}
.bonus-rules,
.change-password,
.sign-out {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.bonus-rules {
  font-weight: 500;
  min-width: 59px;
}
.sign-out {
  min-width: 43px;
}
.betting-profit-loss-parent,
.frame-wrapper22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.betting-profit-loss-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 16.3px;
}
.frame-wrapper22 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-3);
}
.navigation-icons-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs-4);
}
.footer1 {
  width: 155.5px;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
}
.footer1,
.group-section,
.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-section {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gold);
  flex-direction: column;
  padding: var(--padding-mini) 0 var(--padding-3xs);
  gap: var(--gap-xs-6);
  text-align: left;
  font-size: var(--font-size-base-5);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.root {
  width: 231px;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
